<span xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
    <div class="bs_file_container">

        <div class="bs_file_fileupload">
            <input type="file" class="bs_fileinput"/> <label><input type="checkbox" name="checkbox" value="value" />Url</label>
        </div>
        <div class="bs_file_url">
            <input type="text" class="bs_textinput"/> <label><input type="checkbox" name="checkbox" value="value" />File upload</label>
        </div>
               
    </div>

    <br/><br/><br/>

    <div>--------------------------------------------------------</div>
    <ul>
        <li py:for="k, v in w.attrs.iteritems()">${k} : ${v}</li>
    </ul>
    <div>
        <p>${w.name}</p>
        <p>${w.attrs.name}</p>

    </div>
</span>
